header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 139, 1) 0%, rgba(0, 0, 205, 1) 50%, rgba(0, 0, 255, 1) 100%);
}

#site_title {
    margin: 0 auto;
}

#site_title a{
    text-decoration: none; 
}

#menu_btn {
    width: 30px;
    height: 30px;
    border: solid 2px black;
    background-color: rgb(192, 206, 233);
    transition: background-color 0.2s ease;
}

#menu_btn:hover {
    background-color: rgb(102, 102, 102);
}