a {
  text-decoration: none;
}

.articles {
  margin-bottom: -5px;
  
  padding: 20px;
  background-color: rgb(0, 43, 100);

  border: 1px solid black;
  transition: background-color 0.5s ease;
}

.articles:hover {
  background-color: rgb(46, 81, 126);
}

button{
  margin-top: 10px;
}

table,tr, td{
  width: 100%;
}

@media screen and (max-width: 1000px){
  p,a{
    font-size: 24px;
  }
  .articles {
    padding: 20px;
  }


}